* {
  box-sizing: border-box;
}

:root {
  --font-heading: "Sen", sans-serif;
  --primary-color: #ffb900;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family:
    "Poppins", sans-serif; /* dùng cho tất cả các con có poppin không cần viết lại nữa */
}

/* ============== COMMON ============= */
a {
  text-decoration: none;
}

.heading-level {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 127%; /* 126.316% */
  letter-spacing: -0.076rem;
}

.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

.btn {
  display: inline-block;
  padding: 0px 16px; /* 16 là để khi thêm nhiều text vẫn ko bị sát lề nút */
  line-height: 4.9rem;
  min-width: 118px;
  border-radius: 999px; /* cho bán kính bo chung bo hẳn lên */
  background: #171100;
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
}

.btn:hover {
  cursor: pointer;
  opacity: 0.9;
}

.line-clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--line-clamp, 1); /* số dòng muốn hiển thị */
  overflow: hidden;
}

.line-clamp.line-2 {
  /* thẻ nào có cả 2 class này mới áp dụng, quá 2 dòng sẽ có ba chấm */
  -webkit-line-clamp: 2;
}

.break-all {
  /* để có có nhiều dòng mà dòng đó không có khoảng cách giữa các từ cũng ko phá vỡ giao diện */
  word-break: break-all;
}

/* ============== HEADER ============= */
.header {
  background-color: #fffcf4;
}

.header.fixed {
  z-index: 1; /* khi kéo xuống không để ảnh hay vật khác đè mất thanh menu */
  position: sticky;
  top: -28px;
}

.header .body-header {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}

.nav {
  margin-left: auto;
}

.nav ul {
  display: flex;
}

.nav a {
  position: relative;
  color: #5f5b53;
  /* không cần text-align vì thẻ a là inline đã nằm giữa sẵn
  ko cần line-height vì là khoảng cách giữa các dòng */
  font-size: 1.6rem; /*vì bây giờ 1rem = 10px nên đổi sang rem */
  padding: 8px 21px; /* vì dùng pd nên 21 là mỗi bên trái và phải của 1 cái a là 21 tổng lại là 42 như mẫu
  khi dùng pd thì khi ng dùng vừa chạm chuột vào nó đã hiển thị lên vùng chọn */
}

.nav li.active a,
.nav a:hover {
  color: #171100;
  /* font-weight: 600; */
  /* thay vì dùng fw thì khi trỏ chuột vào các a khác sẽ bị đẩy sang 1 bên => dùng text-shadow */
  text-shadow: 1px 0 0 currentColor;
}

.nav li.active a::after {
  position: absolute;
  left: 21px; /* vì ở pd khoảng cách trái phải của a là 21px */
  bottom: 0.6rem;
  display: block;
  content: "";
  width: 1.2rem;
  height: 0.2rem;
  border-radius: 0.1rem;
  background: #171100;
}

.header .btn-sign-up {
  width: 14.4rem;
}

.header .sign-up {
  margin-left: 49px;
}

/* ================================== MAIN ========================== */
/* ================================== HERO ========================== */
main .hero {
  padding: 57px 0 65px;
}

.hero .body {
  display: flex;
}

/* ================ BLOCK LEFT HERO ============= */

.hero .block-left {
  width: 48%; /* 570/1170 = 0.48*/
  position: relative;
}

.hero .block-left image {
  width: 470px;
  height: 685px;
  object-fit: cover; /* để ảnh ko bị vỡ */
  border-radius: 2rem;
}

.hero .hero-sumary {
  position: absolute;
  width: 27rem; /* chỉ cần cho chiều rộng thôi, chiều cao khi có thêm ndung nó sẽ nhảy lên trên vì đã có cố định bottom cách 48*/
  bottom: 48px;
  right: 0;
  border-radius: 1.2rem;
  background: #fff;
  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.05);
  padding: 24px;
}

.hero .hero-sumary .item {
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.hero .hero-sumary .item .icon {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff9e8;
  /* margin-right: 16px; */
}

.hero .hero-sumary .item .icon2 {
  background-color: #fcefff;
}

.hero .hero-sumary .item .icon3 {
  background-color: #ebeaff;
}

.hero-sumary .info {
  margin-left: 16px;
}

.hero-sumary .label {
  color: #5f5b53;
  font-size: 1.4rem;
  line-height: 186%; /* 185.714% */
}

.hero-sumary .title {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 167%; /* 166.667% */
}

.hero-sumary .item + .item {
  /* lấy item nằm sau item đó, và ko lấy item trước đó */
  margin-top: 22px;
}

/* ================ BLOCK RIGHT HERO ============= */
.hero .block-right {
  width: 52%;
  padding-left: 130px;
  padding-top: 46px; /* lấy 197 - 151*/
}

.block-right .heading {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 5.8rem;
  font-weight: 700;
  line-height: 117%; /* 117.241% */
  letter-spacing: -0.116rem;
}

.block-right .desc {
  margin-top: 22px;
  color: #5f5b53;
  font-size: 1.8rem;
  line-height: 167%; /* 166.667% */
}

.hero .block-right .cta-group {
  margin-top: 38px;
  display: flex;
  /* align-items: center; */
}

.cta-group .btn-see-course {
  min-width: 180px;
  line-height: 64px;
  border-radius: 3.2rem;
  background: var(--primary-color);
}

.hero .watch-video {
  margin-left: 28px;
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.hero .watch-video .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background: #fff;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.07);
}

.hero span {
  margin-left: 14px;
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 167%; /* 166.667% */
}

.desc.desc-recent {
  margin-top: 48px;
  /* margin-bottom: 8px; */
}

.desc.stat {
  margin-top: 8px;
}

.desc.stat strong {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 123%; /* 122.727% */
  margin-right: 15px;
}

.desc.stat strong:nth-child(2) {
  margin-left: 28px;
}

/* ====================== POPULAR ========================= */
.popular {
  padding: 65px 0; /* giả định */
  margin-top: 135px; /* 200-65 */
}

/* ====================== POPULAR-TOP ========================= */

.popular-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular-top .desc {
  width: 45.8rem;
  margin-top: 16px;
  color: #5f5b53;
  font-size: 1.8rem;
  line-height: 1.67; /* 166.667% */
}

.popular-top .popular-right {
  display: flex;
  align-items: center;
  gap: 17px;
}

.popular-top .control-btn {
  width: 4rem;
  height: 4rem;
  border: none;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid var(--primary-color);

  display: flex;
  justify-content: center;
  align-items: center;
}

.popular-top .control-btn:hover {
  background-color: var(--primary-color);
  color: #ebeaff;
  cursor: pointer;
}

/* ====================== POPULAR-BOTTOM ========================= */
.popular .popular-bottom {
  margin-top: 55px;
  display: flex;
  /* justify-content: space-evenly; */
  /* align-items: center; */
  gap: 30px;
}

.popular-bottom .coure-item {
  flex: 1; /* chia đều các phần tử con trong flex */
  border-radius: 1.2rem;
  border: 1px solid #e2dfda;
  background: #fff;
}

.popular-bottom .coure-item:hover {
  border: 1px solid transparent;
  border-radius: 1.2rem;
  background: #fff;
  box-shadow: 0 18px 36px 0 rgba(0, 0, 0, 0.09);
}

.popular-bottom .info .thumbnail {
  width: 100%;
  height: 278px;
  border-radius: 1.2rem 1.2rem 0 0;
  object-fit: cover;
}

.popular-bottom .coure-item .foot,
.popular-bottom .coure-item .rating,
.popular-bottom .coure-item .head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popular-bottom .coure-item .info {
  padding: 16px 22px 22px;
}

.popular-bottom .coure-item h3.title a {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 167%; /* 166.667% */
}

/* .popular-bottom .coure-item .rating {
  display: flex;
  align-items: center;
  gap: 6px;
} */

.popular-bottom .coure-item .rating .value {
  margin-left: 6px;
  color: var(--primary-color);
  font-size: 1.6rem;
  line-height: 175%; /* 166.667% */
}

.popular-bottom .desc {
  margin-top: 6px;
  color: #5f5b53;
  font-size: 1.4rem;
  line-height: 185%; /* 185.714% */
}

.popular-bottom .coure-item .foot {
  margin-top: 12px;
}

.popular-bottom .foot .price {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 167%; /* 166.667% */
}

.popular-bottom .foot .btn-book {
  border: none;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
}

.popular-bottom .foot .btn-book:hover {
  background-color: var(--primary-color);
}

/* ====================== FEEDBACK ========================= */
.feedback {
  margin-top: 135px;
  padding: 96px 0;
  background-color: #2e2100;
}

.course-list {
  display: flex;
  overflow: hidden;
}

.course-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}

.feedback .feedback-detail {
  width: 66%;
}
.feedback .course-item .avatar {
  width: 7.2rem;
  height: 7.2rem;
  object-fit: cover;
  border-radius: 50%;
}

.feedback .course-item .name-member {
  margin-top: 18px;
  color: #f7f7f7;
  font-family: var(--font-heading);
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 142%; /* 141.667% */
}

.feedback .course-item .desc {
  margin-top: 4px;
  color: #bfbcb2;
  font-family: Poppins;
  font-size: 1.4rem;
  line-height: 186%; /* 185.714% */
}

.feedback .dots {
  display: flex;
  margin-top: 28px;
  gap: 6px;
}

.feedback .dot {
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  background-color: #634700;
  cursor: pointer;
}

.feedback .dots .dot.active {
  background-color: var(--primary-color);
  cursor: default;
}

.feedback blockquote {
  color: #fff;
  font-family: Poppins;
  font-size: 2.6rem;
  font-style: italic;
  line-height: 154%; /* 153.846% */
}

/* ====================== FEATURE ========================= */
.feature {
  margin-top: 135px;
  padding: 65px 0;
}

.feature .body-feater {
  display: flex;
  justify-content: space-between;
}

.body-feater .feature-left {
  display: flex;
  gap: 30px;
}

.body-feater .feature-left img {
  width: 270px;
  height: 405px;
  object-fit: cover;
  border-radius: 2rem;
}

.feature-left img.lower {
  margin-top: 34px;
}

.feature-right {
  width: 41%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.feature-right .desc {
  margin-top: 16px;
  color: #5f5b53;
  font-size: 1.6rem;
  line-height: 176%; /* 175% */
}

.feature-right .cta-btn {
  margin-top: 32px;
  width: 13.7rem;
  line-height: 5rem;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  background-color: var(--primary-color);
}

/* ====================== FEATURE 2 ========================= */
.feature-2nd {
  margin-top: 70px; /* vì cả 2 đã có pd = 65 => 130, nên lấy 200-130=70 */
}
.feature-2nd .body-feater {
  flex-direction: row-reverse;
}

.feature-2nd .feature-right {
  width: 49%;
}

.feature-2nd .feature-left img {
  width: 47rem;
  height: 44rem;
}
